body .searchbar-container .form-inline {
  display: flex;
  width: 100%; }
  body .searchbar-container .form-inline .form-control {
    flex: 1;
    max-width: 600px;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none; }
    body .searchbar-container .form-inline .form-control:focus {
      box-shadow: none;
      border-color: #cccccc; }
    body .searchbar-container .form-inline .form-control::-webkit-search-cancel-button {
      filter: invert(50%);
      cursor: pointer; }
  body .searchbar-container .form-inline .search-btn button {
    border-color: #cccccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%; }
    body .searchbar-container .form-inline .search-btn button:focus {
      outline: none;
      box-shadow: none; }
